
= inline_svg_tag "confirm-registration_desktop.svg", class: "mx-auto block"

h2.title.text-center.-mt-8.mb-4 ¡Bienvenido!

p.text-center.font-bold.mb-2 #{@user},
p.text-center ya formas parte de las primeras personas que probarán Votemos Bien. 
