- content_for :meta_title, "Privacidad | #{DEFAULT_META["meta_title"]}"
- content_for :meta_description, "En resumen, respetamos tu privacidad y no compartimos tu información con nadie."

h2.text-2xl.text-center.my-8 Políticas de Privacidad

p.mb-2 En resumen, respetamos tu privacidad y no compartimos tu información con nadie.
p.mb-2 Si te registras es para que tengas acceso a tus Favoritos o a tu Cuestionario.
p.mb-2 Puedes darte de baja y eliminar tu información cuando desees. No quedará rastro de ello.

