- content_for :meta_title, "Términos y Condiciones | #{DEFAULT_META["meta_title"]}"
- content_for :meta_description, "En resumen, respetamos tu privacidad y no compartimos tu información con nadie."

h2.text-2xl.text-center.my-8 Términos y Condiciones

p.mb-2 Debes respetar este espacio y sacarle el máximo provecho 
p.mb-2 No debes publicar información falsa, sin fuentes o no verificada 
p.mb-2 Se bueno, ayúdanos a decidir mejor. 