.graph {
	width: 100%;
	overflow: hidden;

  .grid {
    stroke: #666666;
    stroke-dasharray: 0;
    stroke-width: 1;
  }

  .label {
    font-size: 6px;
    fill: #666666;
  }

  .data {
    fill: red;
    stroke-width: 1;
  }
}